<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <baglantiionStrings>
        <add name="SinemaBilet.Properties.Settings.sinemabilet1_2003baglantiionString"
            baglantiionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Monster\Desktop\Görsel Ödev 5\sinemabilet1-2003.mdb&quot;"
            providerName="System.Data.OleDb" />
    </baglantiionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>